* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: auto;
}

header {
    background-color: black;
    height: 3.5em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;

}

header h3 {
    font-size: 1.4em;
    font-weight: 800;
}

header .user {
    display: flex;
    align-items: center;
}

.user img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}


/*         home       */

.home {
    background-color: aqua;
    width: 100%;
    height: calc(100vh - 3.5em);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0, 0.6),
        rgba(0,0,0, 0.6)
    )
    ,url(../image/atilio-cabrera.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home h3 {
    font-size: xx-large;
    color: white;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .home {
        justify-content: flex-start;
        padding-left: 3em;
    }

    .home h3 {
        text-align: left;
    }
}


/*                    article          */

.article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    gap: 20px;
    padding: 2em 1em;
}

.article .article-card {
    background-color: #2091F9;
    border-radius: 15px;
    box-shadow: .15em .15em .5em rgba(0,0,0, 0.6),
    -.15em -.15em .5em rgba(0,0,0, 0.6);
    overflow: hidden;
}

.article img {
    border-radius: 8px;
}

.article .article-card h3 {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: white;
}

.article .article-card p {
    padding: 0 8px;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    font-style: italic;
    overflow-y: hidden;
    text-align: center;
}